<mat-tab-group fxFlex mat-align-tabs="center" mat-stretch-tabs color="accent">
    <mat-tab label="Korpa">
        <app-cart></app-cart>
    </mat-tab>
    <mat-tab label="Narudžbine">
        <app-orders></app-orders>
    </mat-tab>
</mat-tab-group>

