<section fxLayoutAlign="center center">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
    #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field color="accent">
            <input type="text" ngModel matInput placeholder="Korisničko ime" name="username"
            required #usernameInput="ngModel">
            <mat-error *ngIf="usernameInput.hasError('required')">Polje ne sme biti prazno</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" hintLabel="Obavezno je barem 8 karaktera!">
            <input type="password" ngModel matInput placeholder="Lozinka" name="password"
            required minlength="8" #userPassInput="ngModel"> 
            <mat-hint align="end"> {{ userPassInput.value?.length }} / 8 </mat-hint>
        </mat-form-field>

        <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Uloguj se</button>

        <mat-label style="color:red">{{ errorMessage }}</mat-label>

        <a routerLink="/signup">Nemaš nalog?</a>
    </form>
</section>
