section{
    min-height: 90vh;
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) ), url("../../../assets/techtropolis-login.jpg");
    background-size: cover;
    background-position: center;
}

form{
    width: 30%;
    background-color: #333;
    padding: 50px 70px;
    border-radius: 20px 50px;
    box-shadow: 1px 1px #d6d6d6;
    color: white;
}

mat-form-field {
    width: 80%;
}