<mat-tab-group fxFlex mat-align-tabs="center" mat-stretch-tabs color="accent">
    <mat-tab label="Korisnički nalog">
        <app-profile></app-profile>
    </mat-tab>
    <mat-tab label="Istorija narudžbina">
        <app-orders-history></app-orders-history>
    </mat-tab>
</mat-tab-group>

