#orders{
    background-color: #333;
    width: 100%;
    min-height: 90vh;
    padding: 20px 0px;
}

#order{
    width: 95%;
    box-shadow: 1px 1px 1px #d6d6d6;
    background-color: #808080;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;

}

#order-details{
    width: 100%;
    border-bottom: 1px solid #808080;
    padding-bottom: 20px;
}

#order-items{
    width: 100%;
}

h4{
    color: white;
}

p{
    font-size: 18px;
    margin: 0px;
    color: white;
}

#table-div{
    width: 95%;

}


mat-table{
    width: 90%;
    border-radius: 20px 50px;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

mat-table img{
    margin: 10px 0px
}

mat-form-field{
    width: 90%;
    font-size: 20px;
}
