<div fxFlex fxLayout="column">

    <div dir="rtl" id="cart-div">   
        <mat-icon fxLayoutAlign="space-around end" id="cartIcon" *ngIf="username != null" matBadge="{{cartNumber}}" matBadgeColor="accent" class="material-icons-outlined" fxLayoutAlign="center center" routerLink="/cart">
            shopping_cart
        </mat-icon>
    </div>

    <div fxFlex fxLayoutAlign="center center" fxLayout="column" id="container">
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="center" class="product-wrapper">
            <div fxFlex fxLayoutAlign="center center" fxLayout="column" id="img-stars">
                <h1>{{data.name}}</h1>
                <img [src]="data.image" alt="Photo" widht="400px" height="600px">
                <ngb-rating [(rate)]="currentRate" max="5" readonly="true"></ngb-rating>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="center start" id="details" fxLayoutGap="20px">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" id="price-box">
                    <h2>Cena:</h2> <h2>{{data.price}} RSD</h2>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <p class="titles">Raspoloživo: </p>
                    <p>{{data.quantity}}</p>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <p class="titles">Na stanju: </p>
                    <p>{{data.isActive}}</p>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <p class="titles">Proizvedeno: </p>
                    <p>{{data.madeIn}}</p>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <p class="titles">Ažurirano: </p>
                    <p>{{data.dateCreated | date:"dd.LL.yyyy. HH:mm:ss"}}</p>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <p class="titles">Opis: </p>
                    <p id="desc">{{data.description}}</p>
                </div>
                <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <mat-form-field  color="accent">
                        <input type="number" ngModel matInput placeholder="Količina" name="quantity" max="{{data.quantity}}" min="1"
                        required #quantityInput="ngModel">
                        <mat-error *ngIf="quantityInput.hasError('required')">Izaberite količinu</mat-error>
                        <mat-error *ngIf="quantityInput.value <= 0">Minimalna količina je 1</mat-error>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Dodaj u korpu</button>
                </form>
            </div>
        </div>
        <div class="comments-wrapper" fxLayout="column" fxLayoutAlign="center center">
            <h3>Komentari:</h3>
            <div class="comments" *ngFor="let comment of comments" >
                <div class="comment">
                    <p>Korisnik: {{comment.username}}</p>
                    <p>{{comment.content}}</p>
                    <p>Vreme: {{comment.postedAt | date:"dd.LL.yyyy. HH:mm:ss"}}</p>
                </div>
            </div>
        </div>
    </div>
</div>