<section  fxFlex  fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="40px" style="margin: 7vh;">

    <div id="hello-message" fxLayout="column" fxLayoutAlign="center center">
        <h1>{{data.username || ""}}</h1>
        <p>Klikom na polja možeš da promeniš svoje podatke</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="60px">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <img [src]="data.picture" alt="Photo" widht="400px" height="400px">
            <button mat-raised-button color="accent" (click)="updatePicture(data.picture)" style="width: fit-content;">
                Promeni sliku
            </button>
        </div>
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
        #f="ngForm" (ngSubmit)="onSubmit(f)">

            <mat-form-field color="accent">
                <input type="text" ngModel matInput placeholder="Ime i prezime" name="fullname"
                required #fullnameInput="ngModel" [(ngModel)]="data.fullname">
                <mat-error *ngIf="fullnameInput.hasError('required')">Obavezno polje</mat-error>
            </mat-form-field>

            <mat-form-field color="accent">
                <input type="email" ngModel matInput placeholder="Email" name="email"
                required email #emailInput="ngModel" [(ngModel)]="data.email">
                <mat-error *ngIf="emailInput.hasError('required')">Obavezno polje</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">E-mail format mora biti ispravan</mat-error>
            </mat-form-field>

            <mat-form-field color="accent" hintLabel="Obavezno je barem 8 karaktera!">
                <input type="password" ngModel matInput placeholder="Lozinka" name="password"
                minlength="8" #passInput="ngModel"> 
                <mat-hint align="end"> {{ passInput.value?.length }}/8 </mat-hint> 
            </mat-form-field>

            <mat-form-field color="accent">
                <input type="text" ngModel matInput placeholder="Grad" name="city"
                required #cityInput="ngModel" [(ngModel)]="data.city">
                <mat-error *ngIf="cityInput.hasError('required')">Obavezno polje</mat-error>
            </mat-form-field>

            <mat-form-field color="accent">
                <input type="text" ngModel matInput placeholder="Adresa" name="address"
                required  #addressInput="ngModel" [(ngModel)]="data.address">
                <mat-error *ngIf="addressInput.hasError('required')">Obavezno polje</mat-error>
            </mat-form-field>

            <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Ažuriraj profil</button>
        </form>
    </div>
</section>
