
mat-form-field {
    width: 100%;
}

section{
    min-height: max-content;
}

input:hover {
    background-color: #d6d6d6;
    color: black;
}

form{
    background-color: #808080;
    width: 100%;
    padding: 40px 70px;
    border-radius: 20px 50px;
    box-shadow: 1px 1px #d6d6d6;
}

#hello-message{
    background-color: #808080;
    width: 40%;
    padding: 40px 70px;
    border-radius: 20px 50px;
    box-shadow: 1px 1px #d6d6d6;
}

#hello-message h1{
    color: #333;
    font-weight: bold;
}

#hello-message p{
    font-size: 20px;
}