<section fxLayoutAlign="center center">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
    #f="ngForm" (ngSubmit)="onSubmit(f)">

        <mat-form-field color="accent">
            <input type="text" ngModel matInput placeholder="Ime i prezime" name="fullname"
            required #fullnameInput="ngModel">
            <mat-error *ngIf="fullnameInput.hasError('required')">Polje ne sme biti prazno
            </mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <input type="email" ngModel matInput placeholder="Email" name="email"
            required email #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Polje ne sme biti prazno
            </mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Molimo unesite ispravan format e-mail adrese</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <input type="text" ngModel matInput placeholder="Korisničko ime" name="username"
            required #usernameInput="ngModel">
            <mat-error *ngIf="usernameInput.hasError('required')">Polje ne sme biti prazno
            </mat-error>
        </mat-form-field>

        <mat-form-field color="accent" hintLabel="Obavezno je barem 8 karaktera!">
            <input type="password" ngModel matInput placeholder="Password" name="password"
            required minlength="8" #passInput="ngModel"> 
            <mat-hint align="end"> {{ passInput.value?.length }}/8 </mat-hint> 
        </mat-form-field>

        <mat-form-field color="accent">
            <input type="text" ngModel matInput placeholder="Grad" name="city"
            required #cityInput="ngModel">
            <mat-error *ngIf="cityInput.hasError('required')">Polje ne sme biti prazno
            </mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <input type="text" ngModel matInput placeholder="Adresa" name="address"
            required  #addressInput="ngModel">
            <mat-error *ngIf="addressInput.hasError('required')">Polje ne sme biti prazno
            </mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <input matInput placeholder="Datum rođenja:" [matDatepicker]="picker" ngModel name="birthday" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox color="accent" ngModel name="acceptance" required>
            Prihvatam odredbe i uslove korišćenja.
        </mat-checkbox>

        <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Registruj se</button>

        <mat-label style="color:red">{{ errorMessage }}</mat-label>
        
        <a routerLink="/login">Uloguj se</a>
    </form>
</section>

