<div fxFlex fxLayout="column"> 
  <mat-toolbar color="accent">
    <div  style="padding: 20px 0px!important;">
        <a id="logo" routerLink="/">Techtropolis</a>
    </div>

    <div fxFlex fxLayoutAlign="end" fxLayoutGap="25px">
        <a routerLink="/products">Proizvodi</a>
        <a *ngIf="(loggedIn$ | async) as loggedIn" routerLink="/users">Nalog</a>
        <a *ngIf="(loggedIn$ | async) as loggedIn" routerLink="/cart">Korpa</a>
        <a *ngIf="!(loggedIn$ | async) as loggedIn" routerLink="/signup">Registracija</a>
        <a *ngIf="!(loggedIn$ | async) as loggedIn" routerLink="/login">Prijava</a>
        <a *ngIf="(loggedIn$ | async) as loggedIn" routerLink="/login">Odjava</a>
    </div>

  </mat-toolbar>
  <router-outlet></router-outlet>
  <div fxFlex id="footer" fxLayoutAlign="center center">
    <h2>© 2021 Techtropolis. All Rights Reserved.</h2>
  </div>
</div>