@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

a {
    text-decoration: none;
    color: white;
}

#footer{
    min-height: 5vh;
    background-color: gray;
    width: 100%;
    color: white;
}

h2{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
    font-size: 40px;
    font-weight: bold;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 80px;
}