<button mat-button [mat-dialog-close]="true">
    <mat-icon matListIcon>close</mat-icon>
</button>

<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-card fxLayoutAlign="center center">
             
            <ngb-rating [(rate)]="currentRate" max="5"></ngb-rating>

        </mat-card>

        <mat-card>
            <mat-form-field  color="accent">
                <textarea rows="8" type="text" ngModel matInput placeholder="Unesi komentar..." name="comment"></textarea>
            </mat-form-field> 
        </mat-card>

        <button type="submit" color="accent" mat-raised-button>Potvrdi</button>
    </form>
</mat-dialog-content>