<div fxFlex fxLayoutAlign = "center center" id="cart" fxLayoutGap="50px">
    <div id="table-div" fxLayoutAlign = "center center">
        <mat-table [dataSource]="cartSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Šifra</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let element"><img src="{{ element.image }}" width="80px" height="80px"></mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Količina</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Cena</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.price }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>   
                <mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="deleteFromCart(element.id)">Izbaci iz korpe</button> </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="100px" id="confirmation" >
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Ukupno:</h2>
            <h1>{{total}} RSD</h1>
        </div>
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" color="accent"
        #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field  color="accent">
                <mat-select ngModel name="payment" placeholder="Način plaćanja" required style="width: 300px">
                    <mat-option value="visa">Visa</mat-option>
                    <mat-option value="mastercard">Master Card</mat-option>
                    <mat-option value="paypal">PayPal</mat-option>
                    <mat-option value="cash">Pouzeću</mat-option>
                </mat-select>
            </mat-form-field>
    
            <p>{{message}}</p>

            <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid" id="confirmBtn">Kupi</button>
        </form>
    </div>
</div>