
mat-table{
    width: 90%;
    border-radius: 20px 50px;
    height: 70vh;
    overflow-y: auto;
}

mat-table img{
    margin: 10px 0px
}

mat-form-field{
    width: 90%;
    font-size: 20px;
}

#cart{
    height: 90vh;
}

#confirmation{
    background-color: #808080;
    padding: 20px 0px;
    width: 25%;
    border-radius: 20px 50px;
    box-shadow: 1px 1px #d6d6d6;
}

#confirmBtn{
    width: 100%;
    font-size: 30px;
    padding: 20px 30px;
}

#confirmation h2{
    color: #333;
    font-size: 50px;
}

#table-div{
    background-color: #808080;
    padding: 20px 0px;
    width: 65%;
    border-radius: 20px 50px;
    box-shadow: 1px 1px #d6d6d6;
    min-height: 80vh;
}
