<div fxFlex fxLayout="column">
    <div fxFlex fxLayout="row" id="items-container">
        <div class="sideFilter">
            <div fxLayout="column" id="reset" fxLayoutAlign="center center" fxLayoutGap="30px">
                <button mat-raised-button color="accent" (click)="resetFilter()">Resetuj filter</button>
                <mat-form-field appearance="fill" id="sort" color="accent">
                    <mat-label>Sortiraj</mat-label>
                    <mat-select (selectionChange)="onSortChange($event)">
                        <mat-option value="name-asc">Imenu rastuće</mat-option>
                        <mat-option value="name-dsc">imenu opadajuće</mat-option>
                        <mat-option value="price-asc">Cena rastuće</mat-option>
                        <mat-option value="price-dsc">Cena opadajuće</mat-option>
                        <mat-option value="date-asc">Datum rastuće</mat-option>
                        <mat-option value="date-dsc">Datum opadajuće</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="check">
                    <h4>Kategorije:</h4>
                    <mat-radio-group
                        class="radio-group"
                        [(ngModel)]="category"
                        (change)="onCategoryChange($event)">
                        <p><mat-radio-button value="all" name="all">Sve</mat-radio-button></p>
                        <p><mat-radio-button value="cpu" name="cpu">Procesori</mat-radio-button></p>
                        <p><mat-radio-button value="gpu" name="gpu">Grafičke karte</mat-radio-button></p>
                        <p><mat-radio-button value="mb" name="mb">Matične ploče</mat-radio-button></p>
                        <p><mat-radio-button value="ram" name="ram">RAM memorije</mat-radio-button></p>
                        <p><mat-radio-button value="memory" name="memory">HDD/SSD</mat-radio-button></p>
                        <p><mat-radio-button value="pws" name="pws">Napajanja</mat-radio-button></p>
                        <p><mat-radio-button value="cnfg" name="cnfg">Konfiguracije</mat-radio-button></p>
                        <p><mat-radio-button value="lt" name="lt">Laptopovi</mat-radio-button></p>
                    </mat-radio-group>
                </div>

                <div class="check">
                    <h4>Cena: {{valuesValue}} RSD</h4>
                    <mat-slider color="accent" (change)="onPriceChange($event)"
                            thumbLabel
                            step="5000"
                            min="0"
                            max="200000"
                            [(ngModel)]="value"
                            aria-label="units"
                            value>
                    </mat-slider>
                </div>

                <div class="check">
                    <h4>Ocene: {{ratingsValue}}</h4>
                         <mat-slider color="accent" (change)="onRatingChange($event)"
                            thumbLabel
                            step="1"
                            min="0"
                            max="5"
                            [(ngModel)]="rating"
                            aria-label="units"
                            value>
                        </mat-slider>
                </div>

            
            </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start center">

            <div fxFlex="nogrow" fxLayoutAlign="space-around center" id="search-cart-div">
            
                <mat-form-field color="accent">
                    <input type="text" ngModel matInput placeholder="Pretraži" name="search"
                    search #searchInput="ngModel" (keyup) = "search(searchInput)">
                </mat-form-field>

                <mat-icon matBadge="{{cartNumber}}" *ngIf="username != null" matBadgeColor="accent" id="cartIcon" class="material-icons-outlined" fxLayoutAlign="center center" routerLink="/cart">
                    shopping_cart
                </mat-icon>
            </div>  

            <div class="main" fxFlex fxLayout="column" fxLayoutAlign="center center"  >
                <section fxFlex fxLayout="row wrap" fxLayoutAlign="start center" id="main_section" >
                    <mat-card fxFlex="300px" *ngFor="let item of data | paginate: {itemsPerPage:10,currentPage:p}">
                        <img mat-card-image src="{{item.image}}" alt="Photo" width="200px" height="250px"  (click)="showOneItem(item.id)">
                            <mat-card-title fxLayoutAlign="center" (click)="showOneItem(item.id)">
                                {{item.name}}
                            </mat-card-title>

                            <mat-card-content fxLayoutAlign="center">
                                <h5>Cena: {{item.price}} RSD</h5>
                            </mat-card-content>
                    </mat-card>
                </section>
            </div>

        </div>
    </div>
    <div fxLayoutAlign="center center" id="pagination">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
