mat-card{
    margin: 15px 5px;
}

mat-card-title{
    align-items: center;
}

.main{
    margin-top: 8px;
}

#items-container{
    background-color: #2f292b;
}


#search-cart-div{
    width: 100%;
    background-color: #333;
}

mat-form-field{
    width: 80%;
    text-align: center;
    font-size: 20px;
}

.sideFilter{
    width: 15%;
    background-color: #333;
    padding: 5px;
}

#cartIcon{
    font-size: 40px;
    color: #808080;
    cursor: pointer;
    padding: 27px;
    transition: 0.3s;
    border-radius: 100px;
}

#cartIcon:hover{
    background-color: #808080;
    border-radius: 100px;
    color: #f3f3f3;
    padding: 27px;
    transition: 0.3s;
}

#pagination{
    background-color: #333;
    width: 100%;
    height: 6vh;
}

.check{
    width: 90%;
    box-shadow: 2px 2px 1px #808080;
    border-radius: 20px;
    padding-left: 30px;
}

.check h4{
    color: #eee;
}

mat-slider{
    width: 90%;
}

#reset{
    margin-top: 20px;
}

pagination-controls{
    color: #808080;
}

mat-radio-button{
    color: #aaaaaa
}

li{
    background-color: #2f292b;
}

.my-pagination /deep/ .ngx-pagination{
    font-size: 20px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #808080;
    
}

input{
    color: white;
}
