#main{
    min-height: 90vh;
    width: 100%;
    background: url("https://wallpapercave.com/wp/wp5495134.jpg"); 
    background-size: cover;
}

#welcome-img{
    width: 100%;
    height: 50vh;
}

#welcome-title{
    width: 100%;
}

h1{
    color: white;
    font-size: 70px;
}

h2{
    color: white;
}

#browse-link{
    text-decoration: none;
    /* color: white; */
    font-size: 20px;
    background-color: gray;
    padding: 20px 30px;
    border-radius: 15px;
    margin-bottom: 50px;
}

#icons-div{
    width: 100%;
    min-height: 15vh;
    color: white;
}

#icon-text{
    font-size: 20px;
}

mat-icon{
    margin-top: 25px;
    font-size: 50px;
    text-align: center;
    color: white;
}

p{
    font-weight: bold;
}
