<div fxFlex fxLayout="column" id="main">
    <!--<img src="../../assets/techtropolis.jpg" alt="Welcome-Photo" id="welcome-img">-->
    <div id="icons-div" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-icon class="material-icons-outlined" fxLayoutAlign="center center" color="accent">
                memory
            </mat-icon>
            <p id="icon-text">Desktop komponente</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-icon class="material-icons-outlined" fxLayoutAlign="center center"color="accent">
                computer
            </mat-icon>
            <p id="icon-text">Laptopovi</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-icon class="material-icons-outlined" fxLayoutAlign="center center" color="primary">
                devices_other
            </mat-icon>
            <p id="icon-text">Pametni uređaji</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="30px">
                <mat-icon class="material-icons-outlined" fxLayoutAlign="center center" color="primary">
                    keyboard
                </mat-icon>
                <mat-icon class="material-icons-outlined" fxLayoutAlign="center center" color="primary">
                    mouse
                </mat-icon>
                <mat-icon class="material-icons-outlined" fxLayoutAlign="center center" color="primary">
                    headset
                </mat-icon>
            </div>
            <p id="icon-text">Periferije</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-icon class="material-icons-outlined" fxLayoutAlign="center center" color="accent">
                local_shipping
            </mat-icon>
            <p id="icon-text">Dostava</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <mat-icon class="material-icons-outlined" fxLayoutAlign="center center" color="accent">
                business
            </mat-icon>
            <p id="icon-text">Više prodajnih mesta</p>
        </div>
    </div>
    <div fxFlex id="welcome-title" fxLayoutAlign="center center" fxLayout="column" >
        <h1>Dobrodošli u Techtropolis</h1>
        <h2>Mesto snova za svakog programera i gejmera</h2>
    </div>
    
</div>
