<button mat-button [mat-dialog-close]="true">
    <mat-icon matListIcon>close</mat-icon>
</button>

<mat-dialog-content fxLayout="column" fxLayoutAlign="center center" style="width=60%;">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-card fxLayoutAlign="center">
            <mat-form-field color="accent">
                <input type="text" ngModel matInput placeholder="Grad" name="city"
                required #cityInput="ngModel" [(ngModel)]="cityForForm">
                <mat-error *ngIf="cityInput.hasError('required')">Polje je obavezno</mat-error>
            </mat-form-field>
        </mat-card>

        <mat-card fxLayoutAlign="center">
            <mat-form-field color="accent">
                <input type="text" ngModel matInput placeholder="Adresa" name="address"
                required  #addressInput="ngModel" [(ngModel)]="addressForForm">
                <mat-error *ngIf="addressInput.hasError('required')">Polje je obavezno</mat-error>
            </mat-form-field>
        </mat-card>

        <mat-card fxLayoutAlign="center">  
            <mat-form-field color="accent">
                <mat-select ngModel name="payment" placeholder="Način plaćanja" required [(ngModel)]="paymentForForm">
                    <mat-option value="visa">Visa</mat-option>
                    <mat-option value="mastercard">Master Card</mat-option>
                    <mat-option value="paypal">PayPal</mat-option>
                    <mat-option value="paypal">Pouzećem</mat-option>
                </mat-select>
            </mat-form-field> 
        </mat-card>

        <button type="submit" color="accent" mat-raised-button [disabled]="f.invalid">Potvrdi</button>
    </form>
</mat-dialog-content>
